*.class

# Package Files #
*.war
*.ear
/sample-projects/simple-inventory/build/
/sample-projects/simple-calculator/build/
/sample-projects/simple-inventory/dist/
/sample-projects/simple-calculator/dist/
/sample-projects/simple-notes/build/
/sample-projects/simple-notes/dist/
/sample-projects/simple-schedule/nbproject/private/
/sample-projects/simple-schedule/build/
/sample-projects/simple-schedule/dist/
/sample-projects/fablengine/nbproject/private/
/sample-projects/fablengine/build/
/comparison-projects/simple-employee-wo-cccr-use-hbn/build/
/comparison-projects/simple-employee-wo-cccr-use-hbn-ant/build/
/comparison-projects/simple-employee-wi-cccr-use-pure-sql/nbproject/private/
/comparison-projects/simple-employee-wi-cccr-use-pure-sql/build/
/comparison-projects/simple-employee-wi-cccr-use-hbn-ant/nbproject/private/
/comparison-projects/simple-employee-wi-cccr-use-hbn-ant/build/