*.class

# Package Files #
*.war
*.ear
/sample-projects/simple-inventory/build/
/sample-projects/simple-calculator/build/
/sample-projects/simple-inventory/dist/
/sample-projects/simple-calculator/dist/
/sample-projects/simple-notes/build/
/sample-projects/simple-notes/dist/
/sample-projects/simple-schedule/nbproject/private/
/sample-projects/simple-schedule/build/
/sample-projects/simple-schedule/dist/
/sample-projects/fablengine/nbproject/private/
/sample-projects/fablengine/build/