*.class

# Package Files #
*.war
*.ear
/sample-projects/simple-inventory/build/
/sample-projects/simple-calculator/build/
/sample-projects/simple-inventory/dist/
/sample-projects/simple-calculator/dist/
/sample-projects/simple-notes/build/
/sample-projects/simple-notes/dist/
/sample-projects/simple-schedule/nbproject/private/
/sample-projects/simple-schedule/build/
/sample-projects/simple-schedule/dist/
/sample-projects/fablengine/nbproject/private/
/sample-projects/fablengine/build/
/comparison-projects/simple-employee-wo-cccr-use-hbn/build/
/comparison-projects/simple-employee-wo-cccr-use-hbn-ant/build/
/comparison-projects/simple-employee-wi-cccr-use-pure-sql/nbproject/private/
/comparison-projects/simple-employee-wi-cccr-use-pure-sql/build/
/comparison-projects/simple-employee-wi-cccr-use-hbn-ant/nbproject/private/
/comparison-projects/simple-employee-wi-cccr-use-hbn-ant/build/
/sample-projects/snake-and-ladder/nbproject/private/
/sample-projects/simple-snake-and-ladder/nbproject/private/
/sample-projects/simple-snake-and-ladder/build/
/sample-projects/simple-snake-and-ladder/dist/
/sample-projects/simple-notes/build
/sample-projects/enigma-square/nbproject/private/
/sample-projects/enigma-square/build/
/sample-projects/enigma-square/dist/
/sample-projects/coco-sale/nbproject/private/
/sample-projects/coco-sale/build/
/sample-projects/coco-sale/dist/
/sample-projects/belajar-cococare/build/
/sample-projects/simple-calculator/build
/sample-projects/coco-sale/build
/sample-projects/simple-inventory/build
/sample-projects/simple-schedule/build
/comparison-projects/simple-employee-wi-cccr-use-hbn-ant/dist/
/sample-projects/fablengine/build
/comparison-projects/simple-employee-wo-cccr-use-pure-sql/build/
/sample-projects/simple-library/build/
/sample-projects/simple-library/dist/
/sample-projects/simple-library/build
/old-versions/ellusion2/build
/sample-projects/belajar-cococare/dist/
/comparison-projects/simple-employee-wi-cccr-use-pure-sql/build
/comparison-projects/simple-employee-wi-cccr-use-hbn-ant/build
/old-versions/ellusion1/build/
/old-versions/ellusion1/dist/
/old-versions/ellusion3/build/
/old-versions/ellusion2/dist/
/old-versions/ellusion3/dist/
/sample-projects/fablengine/dist/
/comparison-projects/simple-employee-wi-cccr-use-pure-sql/dist/
/comparison-projects/simple-employee-wo-cccr-use-hbn/dist/
/comparison-projects/simple-employee-wo-cccr-use-hbn-ant/dist/
/comparison-projects/simple-employee-wo-cccr-use-pure-sql/dist/
/sample-projects/tebak-angka/build/
/sample-projects/tebak-angka/dist/
/sample-projects/dragon-city-organizer/nbproject/private/
/sample-projects/dragon-city-organizer/build/
/sample-projects/dragon-city-organizer/dist/
/comparison-projects/simple-employee-wo-cccr-use-hbn-ant/build
derby

/sample-projects/dragon-city-organizer/derby.log
/sample-projects/BCS-Helper/nbproject/private/
/sample-projects/BCS-Helper/build/
/sample-projects/BCS-Helper/dist/
/sample-projects/BCS-Helper/build
/sample-projects/belajar-cococare/build
/sample-projects/EbMasking/nbproject/private/
/sample-projects/EbMasking/build/
/sample-projects/EbMasking/dist/
/sample-projects/EbMasking/build
/comparison-projects/simple-employee-wo-cccr-use-hbn/build
/sample-projects/ellusion3/build/
/sample-projects/ellusion2/build/
/sample-projects/ellusion3/dist/
/sample-projects/ellusion2/dist/
/sample-projects/ellusion1/build/
/sample-projects/ellusion1/dist/
/sample-projects/e-llusion/nbproject/private/
/sample-projects/e-llusion/build/
/sample-projects/enigma-square/build
/sample-projects/movie-collection/nbproject/private/
/sample-projects/ellusion2/build
/sample-projects/movie-collection/build/